#name{
	text-align: center;
	font-size: 300%;
}

#subtitle{
	text-align: center;
	font-size:175%;
}

#shortp{
	width: 60%;
	initial: 20%;
}

#link{
	text-align: center;
}

#picture{
	display: block;
    	margin-left: auto;
    	margin-right: auto;
	height: 320px;
	width: 239px;
}

.class{
	color: green;
}

.summer{
	color: blue;
}

.activity{
	color: red;
}
